# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environments
# ===============================
# env/
# venv/
# ENV/
# .venv/

# ===============================
# Flask
# ===============================
instance/
.webassets-cache

# ===============================
# Environment variables
# ===============================
.env
.env.*
flask.env

