<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title or "Debt Engine" }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Inter:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="nav-left">
          <a href="/dashboard" class="brand">Shared Expense Tracker</a>
        </div>

        <div class="nav-right">
          {% if current_user and current_user.role == "admin" %}
          <a href="/admin/create-user" class="btn primary"> Create User </a>
          {% endif %} {% if current_user %}
          <span class="user-name">Loged User: {{ current_user.name }}</span>
          <a href="/logout" class="btn logout">Logout</a>
          {% endif %}
        </div>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
