{% extends "base.html" %}
{% block content %}

<div class="dashboard-grid">

  <!-- DIV 2: LEFT SIDEBAR : GROUPS -->
  <aside class="ledger-sidebar">
    <div class="sidebar-header">
      <h3>
        Your Groups
        <span class="muted">({{ groups | length }})</span>
      </h3>
      <a href="/groups/new" class="btn new">+ New</a>
    </div>

    {% if groups %}
      <div class="sidebar-groups">
        {% for g in groups %}
          <a href="/groups/{{ g.id }}" class="sidebar-group">
            <span class="group-name">{{ g.name }}</span>

            {% if g.member_count == 0 %}
              <span class="group-meta neutral">No group members</span>
            {% else %}
              <span class="group-meta">
                {{ g.member_count }} member{{ 's' if g.member_count > 1 else '' }}
              </span>
            {% endif %}
          </a>
        {% endfor %}
      </div>
    {% else %}
      <p class="muted">No groups yet</p>
    {% endif %}
  </aside>

  <!-- DIV 3: USER SUMMARY (Top Right) -->
  <div class="card user-summary">
    <h2>Your Balance</h2>

    {% if total_balance > 0 %}
      <p class="balance-positive">
        You’ll receive ₹{{ total_balance }}
      </p>
    {% elif total_balance < 0 %}
      <p class="balance-negative">
        You need to pay ₹{{ total_balance | abs }}
      </p>
    {% else %}
      <p class="balance-settled">All settled 🎉</p>
    {% endif %}
  </div>

  <!-- DIV 4: YOU OWE (Bottom Middle) -->
  <div class="card card-owe">
    <h3>You Owe</h3>

    {% set owes = people_balances | selectattr("amount", "lt", 0) | list %}

    {% if owes %}
      {% for p in owes %}
        <div class="row row-flex">
          {{ p.name }}
          <strong class="balance-negative">
            ₹{{ p.amount | abs }}
          </strong>
        </div>
      {% endfor %}
    {% else %}
      <p class="muted">No pending Settlements🎉</p>
    {% endif %}
  </div>

  <!-- DIV 5: YOU'LL GET (Bottom Right) -->
  <div class="card card-get">
    <h3>You’ll Get</h3>

    {% set gets = people_balances | selectattr("amount", "gt", 0) | list %}

    {% if gets %}
      {% for p in gets %}
        <div class="row row-flex">
          {{ p.name }} 
          <strong class="balance-positive">
            ₹{{ p.amount }}
          </strong>
        </div>
      {% endfor %}
    {% else %}
      <p class="muted">No pending credits</p>
    {% endif %}
  </div>

</div>

{% endblock %}
