{% extends "base.html" %}
{% block content %}

<div class="auth-card">
    <h3>Register</h3>

    <form method="post" action="/register">
        <input name="name" placeholder="Name" required>
        <input name="email" type="email" placeholder="Email" required>
        <input name="password" type="password" placeholder="Password" required>

        <button class="btn primary">Create Account</button>
    </form>

    <p class="link">
        Already have an account? <a href="/login">Login</a>
    </p>
</div>

{% endblock %}
